.banner {
    background-image: url('images/banner/banner2.png');
    width: 1200px;
    height: 700px;
    text-align: right;

}

.header-text {
    position: absolute;
    width: 50%;
    right: 140px;
    top: 170px;

}

.header-text h2 {
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}

.header-text p {
    color: #444343;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.header-text button {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #F15B22;
    padding: 5px
}

.failors {
    padding: 0 150px 0 130px;
    margin: 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image {
    background-image: url('');
}

.description h2 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description p {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.description ul li {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style-type: none;
}

.fa-check {
    color: #16D887;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 130px;
}

.my-plan {
    text-align: center;
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.single-project h2 {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.single-project p {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
}

.watch {
    background-image: url('images/watch.png'), url('images/gradient2.png');
    background-blend-mode: lighten;
    margin: 0 auto;
    margin-bottom: 130px;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
}

.watch .txt {
    width: 460px;
    padding: 20px 0 0 65px;
}

.watch h2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

.watch .btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}